<h3 class="ui header">{{t "forms.i-i-s-semya16-контроллер-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-semya16-контроллер-e.номер-caption")
      data-test-i-i-s-semya16-контроллер-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-semya16-контроллер-e.состояние-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.состояние
      class=(if (v-get validationModel "состояние" "isInvalid") "error")
      data-test-i-i-s-semya16-контроллер-e-состояние=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "состояние" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-semya16-контроллер-e.темпаУстан-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.темпаУстан
      relationName="темпаУстан"
      projection="ТемпаУстанL"
      title=(t "forms.i-i-s-semya16-контроллер-e.темпаУстан-caption")
      readonly=readonly
      componentName="темпаУстанLookup"
      class=(if (v-get validationModel "темпаУстан" "isInvalid") "error")
      data-test-i-i-s-semya16-контроллер-e-темпаУстан=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "темпаУстан" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.темпаУстан.температура
      class=(if (v-get validationModel.темпаУстан "температура" "isInvalid") "error")
      label=(t "forms.i-i-s-semya16-контроллер-e.темпаУстан.температура-caption")
      data-test-i-i-s-semya16-контроллер-e-темпаУстан-температура=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.темпаУстан "температура" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-semya16-контроллер-e.датчик-caption"}}</label>
    {{flexberry-groupedit
      componentName="датчикGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.датчик
      content=model.датчик
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "датчик" "isInvalid") "error")
      data-test-i-i-s-semya16-контроллер-e-датчик=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датчик" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-semya16-контроллер-e.реле-caption"}}</label>
    {{flexberry-groupedit
      componentName="релеGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.реле
      content=model.реле
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "реле" "isInvalid") "error")
      data-test-i-i-s-semya16-контроллер-e-реле=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "реле" "message")}}
  </div>
</form>
